@model IEnumerable<ExerciseDto>

@{
    ViewData["Title"] = "Exercises";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Main Muscle Group</th>
            <th scope="col">Seconday Muscle Groups</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exercise in Model)
        {
        <tr>
            <td>@exercise.Name</td>
            <td>@exercise.MainMuscleGroupName</td>
            <td>
                @string.Join(", ", exercise.SecondaryMuscleGroupNames)
            </td>
            <td><a asp-controller="Exercises" asp-action="Edit" asp-route-id="@exercise.Id" class="btn btn-warning mb-2">Edit</a></td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

