@model AdministrationStatisticsModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid row">
    <div class="container">
        <h1 class="display-4">Administration Statistics</h1>
        <div class="row">
            <div class="lead col-3" >Total Training Sessions: @Model.TotalTrainingSessions</div>
            <div class="lead col-3">Total Daily Menus: @Model.TotalDailyMenus</div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

